pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
Pillow
python-docx
yt_dlp
streamlit-lottie
pytesseract 
pdf2image 
pillow
opencv-python
python-dotenv
nltk
playwright
#playwright install
scikit-learn
transformers==4.31.0
sentence-transformers
pdfplumber